.categories {
  display: flex;
  flex-direction: row;
  padding: 0.1em;
  flex-wrap: wrap;
}

.categories img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.category {
  padding: 0.3em;
}

